/* Common Page Content Setup */
/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E0E0E0;
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 56px;
    border-radius: 35px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #717171;
    }

main {
    background-color: var(--mainBack);
    padding: 2% 5%;
    text-align: left;
}

.bgBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkTextLabel {
    width: 40%;
    color: var(--buttonText);
    border: 2px solid var(--buttonText);
    background-color: var(--buttonBack);
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
}

    .linkTextLabel:hover {
        text-decoration: none;
        background-color: #ddd;
        color: black;
    }