main {
    background-color: var(--mainBack);
    padding: 2% 5%;
    opacity: 95%;
    text-align: left;
}


.front > section {
    margin: 5% 0;
    clear: left;
    display: flex;
    max-height: 100%;
}

    .front > section > div {
        display: inline-block;
        display: flex;
        flex-direction: column;
    }

    .front > section > .frontImg {
        margin: 0 0 auto 0;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) display: inline-block;
        max-width: 40%;
    }

    .front > section > .right {
        margin-left: 2%;
    }

    .front > section > .left {
        margin-right: 2%;
    }

.linkTextLabel {
    width: 40%;
    color: var(--buttonText);
    border: 2px solid var(--buttonText);
    background-color: var(--buttonBack);
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
}

    .linkTextLabel:hover {
        text-decoration: none;
        background-color: #ddd;
        color: black;
    }

.season {
    display: flex;
    justify-content: center;
    text-align: center;
}

    .season > div {
        padding: 3% 2%;
        margin: 0 auto; 
        width: 20%; 
        border-radius: 5%;
        background-color: white; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .season > div > input {
            margin: 0;
            padding: 4% 10%;
            color: var(--buttonText);
            background-color: var(--buttonBack);
            border-radius: 5%;
        }

.area {
    text-align: center;
}

    .area > div {
        margin-top: 1.5%;
        display: inline-block;
        width: 33%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .area > .areaLeft {
        float: left;
    }

    .area > .areaRight {
        float: right;
    }

.areaCon {
    position: relative;
    width: 100%;
    background-color: black;
}

.areaImg {
    opacity: 1;
    display: block;
    width: 100%;
    max-height: 153px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.areaMid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.areaText {
    overflow:visible;
    color: white;
    font-size: 16px;
}

.areaButton {
    font-family: Roboto, sans-serif;
    font-size: .875rem !important;
    width: 50%;
    color: #2b2d42;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 2% 2%;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    margin: auto;
}

.areaButton:hover {
    color: black;
    text-decoration: none;
}

.areaCon:hover .areaImg {
    opacity: 0.3;
}

.areaCon:hover .areaMid {
    opacity: 1;
}

.abusFig {
    display: flex;
}

    .abusFig > figure {
        width: 80%;
        margin-right: 2%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

        .abusFig > figure > img {
            width: 100%;
        }

        .abusFig > figure > figcaption {
            text-align: center;
            padding: 10px 20px;
        }

    .abusFig > p {
        max-width: 84%;
    }


.arrow {
    vertical-align: middle;
}

.Cal {
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

    .Cal > h6 {
        text-align: center;
    }

    .Cal > hr {
        margin: 0 auto 10px auto;
        border-top: 2px solid grey;
        width: 80%;
    }

    .Cal > table {
        width: 100% !important;
    }

.pricetable {
    float: none;
    display: flex;
    flex-direction: column;
}

.campMap {
    content: url("../media/img/campmap/MapWIndex.png");
    width: 100%;
}
