main {
    padding: 2% 5%;
    background-color: #F7F7F7;
    opacity: 95%;
    text-align: left;
}

.polarid {
    width: 20%;
    display: inline;
}

.polarid * {
    width: 20%;
    display: inline;
}

.polarid > div > p {
    width: 100%;
}

.polarid>div>p{
    width: 100%;
}

.leftOfImg {
    float: left;
}


.arrow {
    vertical-align: middle;
}

.Cal {
    width: 60%;
    height:40%;
    margin: 0 auto;
}
.Cal > h6 {
    text-align: center;
}

.Cal > hr {
    
    margin: 0 auto 10px auto;
    border-top: 2px solid grey;
    width: 80%;
}

.Cal > table {
    width: 100% !important;
}

