/* Tablet */
@media (max-width: 992px) {

    footer > div > ul {
        margin: 3% auto;
        width: 88%;
        float: none;
    }

    footer > div > a {
        max-width: 75%;
    }
}

/* Mobile */
@media (max-width: 768px) {

    #cabin {
        margin-right: 17% !important;
    }

    #account {
        margin-right: 0;
        margin-left: 17% !important;
    }
}
