body {
}

section > div {
    border:1px solid black;
}

#show {
    text-align: center;
}

#showcase {
    width: 100%;
}

section > div {
    width: 45%;
    margin: 0 auto;
}

.pageBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.PriceTable {
    display: flex;
    flex-direction: row;
}

    .PriceTable > div {
        margin: 0 0 0 0;
        width: 25%;
    }

    .PriceTable > .left {
        margin: 0 auto 0 0;
    }

    .PriceTable > .right {
        margin: 0 0 0 auto;
    }
    
        .PriceTable > div > label, .PriceTable > div > span {
            margin: 0 0 0.5rem 0;
            display: block;
        }
